.section-comments{

}

blockquote{
    width: 50%;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 32px;
    position: relative;
    margin-bottom: 58px;
}

.comments{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.comments p{
    color: #353854;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 24px;
}
blockquote:before{
    content: '“';
    display: block;
    color: #648cff;
    font-size: 142px;
    font-weight: 400;
    position: absolute;
    left: -5px;
    top: 0;
}
blockquote:after{
    content: '“';
    display: block;
    color: #648cff;
    font-size: 142px;
    font-weight: 400;
    position: absolute;
    right: 40px;
    bottom: 0;
    transform: rotate(180deg);
}

.comments cite{
    color: #353854;
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 740px) {
    blockquote{
        width: 100%;
        padding-right: 0;
    }
    .comments p {
        font-size: 16px;
    }
    blockquote:before {
        font-size: 96px;
    }
    blockquote:after {
        font-size: 96px;
    }
}